*{
    max-width: 480px;
    font-family: 'Roboto', sans-serif;
    /* display: flex; */
    /* flex-direction: column;
    align-items: baseline; */
}

header{
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

h1{
    color: white;
    font-size: 42px;

}

h4{
    font-family: 'Roboto', sans-serif;
}
.section-1{
    background-color: lightskyblue;
    height: 500px;
    padding: 100px 20px 20px 20px;

}

footer{
    background-color: black;
}