fieldset {
    border: 0;
}

// *{
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

.container {
    margin: 0 auto;
} 

.personal-data, .checkbox {
    border: 0;
    display: flex;
    flex-direction: column;
}

