.benefit {
    /* height: 100px;
    margin-top: 30px; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;

}

.icon {
    width: 100px;

}

.text-benefit {
    padding-left: 150px;
}