<section class="section-1">
    <section>
    <h1>Prueba Premium gratis 3 meses</h1>
    <h4>Escucha millones de canciones sin anuncios, a la carta y sin conexión.</h4>
    <a href="">VER PLANES</a>
    <p>Rigen términos y condiciones. Los tres meses gratis no están disponibles para usuarios que ya han probado premium.</p>
    </section>
    <!-- Aquí comienza la imagen de la chica -->
    <figure class="dancer_img">
    <img src="./images/premium_dancer.png" alt="dancer" >
    </figure>
</section>