
<section class="section-2">
    <div class="title">
    <h2>¿Por qué pasarte a Premium?</h2>
    </div>  

    <div class="container">
    <ul class="benefit">
        <li class="benefit1">
            <figure class="icon">
                <img src="./images/benefit-1.png" alt="benefit-1" class="icon">
            </figure>
            <div class="text-benefit">
                <strong>Descarga música.</strong><br> Llévala siempre contigo.
            </div>
        </li>

        <li class="benefit2">
            <figure class="icon">
                <img src="./images/benefit-2.png" alt="benefit-2" class="icon">
            </figure>
            <div class="text-benefit">
                <strong>Sin anuncios.</strong><br> Disfruta de música sin <br> interrupciones.
            </div>
        </li>

        <li class="benefit3"> 
            <figure class="icon">
                <img src="./images/benefit-3.png" alt="benefit-3" class="icon">
            </figure>
            <div class="text-benefit">
                <strong>Escucha lo que quieras.</strong> <br> Incluso en el móvil.
            </div>
        </li>

        <li class="benefit4">
            <figure class="icon">
                <img src="./images/benefit-4.png" alt="benefit-4" class="icon">
            </figure>
            <div class="text-benefit">
                <strong>Salta todas las canciones que quieras.</strong><br>Simplemente dale a siguiente.
            </div>
        </li>
    </ul>
</div>
</section>